.btn {
  text-transform: uppercase;
  border-radius: 50px;
  font-weight: normal;

  $padding-lr: 30px;
  padding: 15px $padding-lr;
}

@include media-breakpoint-down(xs) {

  .btn {
    width: 100%;
  }
}