$blue:    #1579BA;
$indigo:  #6F03ED;
$purple:  #630DC7;
$pink:    #e83e8c;
$red:     #C52B2A;
$orange:  #ED4803;
$yellow:  #ffc107;
$green:   #15BA45;
$teal:    #0DC7AC;
$cyan:    #0DB7D1;
$white:   #ffffff;

$primary:       $blue;
$secondary:     #112C4D;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;

$alternate-bg: darken($white, 5);